
<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="brand">
        <h1>Tutors Zone</h1>
      </div>
    </div>
    <!-- <span class="fill-remaining-space"></span> -->
    <div fxLayout="row" fxLayoutAlign="start center">


      <button mat-stroked-button class="">
        Sign Up
      </button>

      <!-- <button mat-button class="">
        <mat-icon class="left-icon">logout</mat-icon>
      </button> -->
    </div>
  </div>
</mat-toolbar>
