<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column">
  <div fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center">
    <div class="image-holder">
      <img [src]="item?.imageURL" *ngIf="item?.imageURL">
    </div>
  </div>
  <div class="margin-row-one-rem" fxFlex fxLayout="column" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
    <h1 >{{item?.firstName}} {{item?.lastName}}</h1>
    <div class="margin-column-half-rem"  fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>monetization_on_outline</mat-icon>
        <span class="font-size-15 margin-row-half-rem"> <strong>{{item?.tutor?.pricePerHour | currency}}</strong> per hour</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>star</mat-icon>
        <span class="font-size-15 margin-row-half-rem"> <strong>{{item?.tutor?.rating}}</strong> ({{item?.tutor?.reviewsCount}} reviews)</span>
      </div>
    </div>
    <div>
      <h3 class="font-weight-bold">{{item?.tutor?.jobTitle}}</h3>
    </div>
    <div class="margin-top-half-rem">
      <p>{{item?.tutor?.overview}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="item?.tutor?.subjects">
      <mat-chip-list>
        <mat-chip class="chip" *ngFor="let subject of item?.tutor?.subjects">
          {{subject?.name}}
        </mat-chip>
      </mat-chip-list>
    </div>

  </div>
</div>
