.container {
  margin: 1rem 0.2rem;
  /* height: 16rem; */
  padding: 1.5rem;
  border: solid 1px #E0E0E0;
  background: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.container:hover {
  border-left: solid 4px #48a240;
  margin-left: 10px;
  margin-right: -10px;
}

.image-holder img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  background: #E0E0E0;
}

.mat-icon {
  color: rgb(184, 184, 184);
}


@media screen and (max-width: 900px) {
  .container {
    height: 100%;
  }

}
