:root {
  --primary-color: #18586c;
  --primary-dark-color: #134859;
  --secondary-color: #ffa600;
  --light-gray-color: #e9eaf3;
  --gray-color: #f7f8ff;
  --blue-color: #0080e2;
  --red-color: #ff5151;
  --green-color: #00c892;
  --background-color: #fafaff;
  --title-color: #08262e;
  --label-color: #9ca1b3;
  --light-green-color: #e3f2fd;
}
